{{#each publicPosts}}
<div class="blog-post" data-postid="{{_id}}">
    <div class="blog-preview">
        <div class="title">{{title}}</div>
        <div class="body">{{{body}}}</div>
    </div>
    <div class="blog-footer">
        <div class="tools">
            {{!-- SHOW COMMENT AND LIKE COUNT AND THE ABILITY TO LIKE --}}
            <div class="reaction-info">
                <a class="info-box" href="/posts/{{_id}}">
                    <svg viewBox="0 0 640 512">
                        <path fill="#77c382"
                            d="M561.91 0C549.44 0 406.51 6.49 320 56.89 233.49 6.49 90.56 0 78.09 0 35.03 0 0 34.34 0 76.55v313.72c0 40.73 32.47 74.3 73.92 76.41 36.78 1.91 128.81 9.5 187.73 38.69 8.19 4.05 17.25 6.29 26.34 6.58v.05h64.02v-.05c9.09-.29 18.15-2.53 26.34-6.58 58.92-29.19 150.95-36.78 187.73-38.69C607.53 464.57 640 431 640 390.27V76.55C640 34.34 604.97 0 561.91 0zM296 438.15c0 11.09-10.96 18.91-21.33 14.96-64.53-24.54-153.96-32.07-198.31-34.38-15.9-.8-28.36-13.3-28.36-28.46V76.55C48 60.81 61.5 48 78.06 48c19.93.1 126.55 7.81 198.53 40.49 11.63 5.28 19.27 16.66 19.28 29.44L296 224v214.15zm296-47.88c0 15.16-12.46 27.66-28.36 28.47-44.35 2.3-133.78 9.83-198.31 34.38-10.37 3.94-21.33-3.87-21.33-14.96V224l.14-106.08c.02-12.78 7.65-24.15 19.28-29.44C435.4 55.81 542.02 48.1 561.94 48 578.5 48 592 60.81 592 76.55v313.72z" />
                        <title>Read whole post</title>
                    </svg>
                    <div class="count">read</div>
                </a>

                <div class="info-box" id="likeBtn">
                    <svg viewBox="0 0 512 512">
                        {{#if_in likes ../user._id}}
                        <path fill="#f51818"
                            d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" />
                        {{else}}
                        <path fill="#554444"
                            d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z" />
                        {{/if_in}}
                    </svg>
                    <div class="count">{{likes.length}}</div>
                </div>
                <a class="info-box" href="/posts/{{_id}}#commentForm">
                    <svg viewBox="0 0 512 512">
                        <path fill="#554444"
                            d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64zm16 352c0 8.8-7.2 16-16 16H288l-12.8 9.6L208 428v-60H64c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16h384c8.8 0 16 7.2 16 16v288zm-96-216H144c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h224c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm-96 96H144c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h128c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16z" />
                    </svg>
                    <div class="count">{{comments.length}}</div>
                </a>
            </div>
        </div>
        <div class="author-card">
            <div class="profile-data">
                <img class="pic" {{#if author.avatar}} src="/account/avatar/{{author._id}}" alt="{{author.username}}"
                    {{else}} src="/img/account_card/user.svg" {{/if}}>
                <div class="username">{{author.username}}</div>
                {{#if author.hasTick}}
                <svg class="tick" viewBox="0 0 512 512">
                    <path fill="#77c382"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg>
                {{/if}}
            </div>
            <div class="blog-time-data">
                <div class="created">posted {{toDateString createdAt}}</div>
                {{#if_notEqual createdAt updatedAt}}
                <div class="last-edit">edited {{toDateString updatedAt}}</div>
                {{/if_notEqual}}
            </div>
        </div>
    </div>
</div>
{{/each}}